:root {
  --color-orange: #e7ad26;
}

body {
  color: white;
  background-image: url("/assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

.team {
  display: flex;
  justify-content: space-between;
}

.winner {
  color: #e7ad26;
  font-weight: bold;
}

.team-label {
  text-shadow: 1px 1px 1px black;
}

.team-label>span {
  padding: 10px;
  white-space: nowrap;
}

.team-score {
  background-color: #151b27;
  min-width: 12px;
  padding: 10px;
}

.bracket-matches {
  display: flex;
  flex-direction: row;
}

.match {
  display: flex;
  align-items: center;
}

.match>span {
  color: gray;
}

.match>div {
  background-color: #28303f;
  margin: 10px;
  display: flex;
  box-shadow: 2px 2px 2px black;
  flex-grow: 1;
}

.bracket-round {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.navbar {
  width: 100%;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 15px;
}

.navbar li {
  display: inline;
  padding: 3px;
  margin: 5px;
}

.navbar li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bolder;
  text-transform: uppercase;
  transition: .5s;
}

.navbar li a:hover {
  color: #e7ad26;
}

.table-center {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  margin-left: auto;
  margin-right: auto;
}

.link-inline {
  text-decoration: none;
  color: #e7ad26;
}

.popup-wrapper {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 80;
  display: flex;
  justify-items: center;
  align-items: center;
}

.popup {
  left: 0;
  right: 0;
  position: absolute;
  /* background-color: #1f1430; */
  background-color: #2c303a;
  border-radius: 5px;
  z-index: 100;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px;
}

.popup-close-wrapper {
  display: flex;
  justify-content: right;
}

.popup-close {
  padding: 3px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.popup-close>i {
  color: white;
}

.popup-content {
  width: 100%;
  flex-grow: 1;
}

.popup-teams-list {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-team {
  background-color: gray;
  margin: 10px;
  padding: 4px;
}

.flex-col {
  display: flex;
}

.bracket-flex-center {
  display: flex;
  align-items: center;
}

.tourn-bracket {
  padding: 3px;
  margin: 20px;
}

.tourn-bracket>span {
  font-size: large;
}

.match-teams {
  min-width: 170px;
  width: 100%;
}

.match-action-buttons {
  display: flex;
  flex-direction: column;
}

.match-action-buttons>button {
  margin: 2px;
  flex: 1;
  background-color: transparent;
  border: none;
}

.match-action-buttons>button:hover {
  cursor: pointer;
}

.match-action-buttons>button:disabled {
  cursor: not-allowed;
}

.tr-link-table {
  border-spacing: 0;
}

table {
  border-collapse: collapse;
}

.tr-link {
  cursor: pointer;
  font-size: larger;
  padding: 5px;
  border-top: 1px solid gray;
  height: 48px;
  /* text-align: center; */
}

.tr-table {
  width: 100%;
}

.table-head>th {
  text-align: start;
}

th,
td {
  padding: 10px;
}

.tr-link:hover {
  background-color: #1f1430;
}

.main {
  background-color: #201e1d;
  padding: 16px;
  max-width: 84em;
  margin-left: auto;
  margin-right: auto;
}

.button {
  cursor: pointer;
  border-radius: 2px;
  border: none;
  background-color: #8947fa;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.88em;
  padding: calc(1em /2);
  color: white;
  margin: 2px;
}

.table-striped {
  margin: 20px;
}

.table-striped tr:nth-child(1) {
  background-color: #1e232f;
}

.table-striped th {
  text-align: left;
}

.table-striped tr:nth-child(2n-1):not(:first-child) {
  background-color: transparent;
}

.table-striped tr:nth-child(2n) {
  background-color: #262b38;
}

.flex-col2 {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.input-u64 {
  width: 64px;
  background-color: #303540;
  border: none;
  padding: 5px;
  color: white;
}

.input-u64:focus {
  outline: 1px solid #8947fa;
}

.navbar .active {
  color: #e7ad26;
}

.movable-boxed {
  height: 80vh;
  overflow: hidden;
  border: 3px solid #303540;
  background-color: #131211;
}

.movable-boxed-buttons {
  position: relative;
  z-index: 5;
}

.movable-boxed-buttons>button {
  margin: 4px;
}

#popup-host {
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
}

.tournament-name {
  margin: 0;
}

.link-back {
  font-size: 0.88em;
}

.link-back>i {
  padding-right: 4px;
}

.title-label {
  text-shadow: 1px solid black;
  font-weight: bold;
}

.h-center {
  text-align: center;
}

.bracket-fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: 50;
  border: none;
  overflow: hidden;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.winner-input {
  border: none;
  outline: none;
  padding: 5px;
  background-color: #393d4a;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.winner-input.active {
  background-color: #fc9402;
}

.winner-input-wrapper {
  margin: 5px;
}

.team-color {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 5px;
}

.winner-input-box {
  margin: 10px;
}

.dt-bracket {
  display: flex;
  flex-direction: row;
}

.dt-bracket-bracket-row {
  display: flex;
  flex-direction: column;
}

.dt-bracket-bracket {
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 3px;
  margin: 20px;
}

.dt-bracket-round {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
}

.dt-errorlog {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  z-index: 100;
}

.dt-errorlog-msg {
  border-radius: 3px;
  margin: 10px;
  padding: 9px;
  background-color: #f43c0e;
  min-width: 100px;
  max-width: 500px;
}

.dt-errorlog-button {
  display: flex;
  justify-content: flex-end;
}

.dt-errorlog-button>button {
  display: block;
  margin: 0;
  background: transparent;
  border: none;
  color: white;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

@media all and (max-width: 600px) {
  .navbar {
    overflow: scroll;
  }

  .main {
    overflow-x: scroll;
  }

  .popup-wrapper .popup {
    width: 90%;
  }
}

.dt-input:disabled {
  cursor: not-allowed;
}

.dt-r-bracket {
  padding: 5px;
  cursor: pointer;
}

.dt-r-bracket.active {
  border-top: 3px solid #303540;
  border-left: 3px solid #303540;
  border-right: 3px solid #303540;
  color: var(--color-orange);
  background-color: #131211;
}

.dt-bracket-live {
  position: relative;
  margin: 10px;
  z-index: 100;
}

.dt-bracket-live-active {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: red;
  display: inline-block;
  margin-right: 4px;
}

.dt-bracket-live-inactive {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: gray;
  display: inline-block;
  margin-right: 4px;
}

.dt-bracket-live-label {
  font-weight: bold;
  text-transform: uppercase;
}

.movable-boxed-header {
  display: flex;
  justify-content: space-between;
}

.movable-boxed-header>div {
  margin: 10px;
}