:root {
  --color-orange: #e7ad26;
}

/* GLOBAL */

.dt-main {
  background-color: #201e1d;
  padding: 16px;
  max-width: 84em;
  margin-left: auto;
  margin-right: auto;
}

.dt-main h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.dt-button {
  cursor: pointer;
  border-radius: 2px;
  border: none;
  background-color: #8947fa;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.88em;
  padding: calc(1em /2);
  color: white;
  margin: 2px;
}

.dt-table {
  border-collapse: collapse;
}

.dt-table th {
  text-align: start;
}

.dt-table th,
td {
  padding: 10px;
}

.dt-table-center {
  margin-left: auto;
  margin-right: auto;
}

.dt-table-striped {
  margin: 20px;
}

.dt-table-striped tr:nth-child(1) {
  background-color: #1e232f;
}

.dt-table-striped th {
  text-align: left;
}

.dt-table-striped tr:nth-child(2n-1):not(:first-child) {
  background-color: transparent;
}

.dt-table-striped tr:nth-child(2n) {
  background-color: #262b38;
}

.dt-table tr.dt-link {
  cursor: pointer;
  font-size: larger;
  padding: 5px;
  border-top: 1px solid grey;
  height: 48px;
}

.dt-table tr.dt-link:hover {
  background-color: #1f1430;
}

.dt-input {
  background-color: #303540;
  border: none;
  padding: 5px;
  color: white;
}

.dt-input:focus {
  outline: 1px solid #8947fa;
}

.dt-input:disabled {
  color: gray;
  cursor: not-allowed;
}

.dt-flex {
  display: flex;
}

.dt-link-inline {
  text-decoration: none;
  color: #e7ad26;
}

h3.dt-title {
  padding: 10px;
  text-align: center;
}

/* JUST FLEXBOX THINGS */

.dt-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dt-flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* MESSAGE LOG */

.dt-msglog {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  z-index: 100;
}

.dt-msglog-msg {
  border-radius: 3px;
  margin: 10px;
  padding: 9px;
  background-color: #f43c0e;
  min-width: 100px;
  max-width: 500px;
}

.dt-msglog-button {
  display: flex;
  justify-content: flex-end;
}

.dt-msglog-button>button {
  display: block;
  margin: 0;
  background: transparent;
  border: none;
  color: white;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

/* POPUP */

.dt-popup-wrapper {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 80;
  display: flex;
  justify-items: center;
  align-items: center;
}

.dt-popup {
  left: 0;
  right: 0;
  position: absolute;
  /* background-color: #1f1430; */
  background-color: #2c303a;
  border-radius: 5px;
  z-index: 100;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px;
}

.dt-popup-close-wrapper {
  display: flex;
  justify-content: right;
}

.dt-popup-close {
  padding: 3px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.dt-popup-close>i {
  color: white;
}

.dt-popup-content {
  width: 100%;
  flex-grow: 1;
}

.dt-popup-teams-list {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dt-popup-team {
  background-color: gray;
  margin: 10px;
  padding: 4px;
}

/* NAVBAR */

.dt-navbar {
  width: 100%;
}

.dt-navbar ul {
  list-style: none;
  margin: 0;
  padding: 15px;
}

.dt-navbar li {
  display: inline;
  padding: 3px;
  margin: 5px;
}

.dt-navbar li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bolder;
  text-transform: uppercase;
  transition: .5s;
}

.dt-navbar li a:hover {
  color: #e7ad26;
}

.dt-navbar .dt-active {
  color: #e7ad26;
}

/* BRACKET SELECTOR */

.dt-brlist-bracket {
  padding: 5px;
  cursor: pointer;
}

.dt-brlist-bracket.dt-active {
  border-top: 3px solid #303540;
  border-left: 3px solid #303540;
  border-right: 3px solid #303540;
  color: var(--color-orange);
  background-color: #131211;
}

/* BRACKET FRAME */

.dt-bracket-frame {
  height: 80vh;
  overflow: hidden;
  border: 3px solid #303540;
  background-color: #131211;
}

.dt-bracket-frame-header {
  display: flex;
  justify-content: space-between;
}

.dt-bracket-frame-header>div {
  margin: 10px;
}

.dt-bracket-frame-actions {
  position: relative;
  z-index: 5;
}

.dt-bracket-frame-actions>button {
  margin: 4px;
}

/* LIVE INDICATOR */

.dt-bracket-live {
  position: relative;
  margin: 10px;
  z-index: 100;
}

.dt-bracket-live-active {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: red;
  display: inline-block;
  margin-right: 4px;
}

.dt-bracket-live-inactive {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: gray;
  display: inline-block;
  margin-right: 4px;
}

.dt-bracket-live-label {
  font-weight: bold;
  text-transform: uppercase;
}

/* MAIN BRACKET COMPONENTS */

.dt-bracket-match-actions {
  display: flex;
  flex-direction: column;
}

.dt-bracket-match-actions>button {
  margin: 2px;
  flex: 1;
  background-color: transparent;
  border: none;
}

.dt-bracket-match-actions>button:hover {
  cursor: pointer;
}

.dt-bracket-match-actions>button:disabled {
  cursor: not-allowed;
}

.dt-bracket-match {
  display: flex;
  align-items: center;
}

.dt-bracket-match>div {
  background-color: #28303f;
  margin: 10px;
  display: flex;
  box-shadow: 2px 2px 2px black;
  flex-grow: 1;
}

.dt-bracket-match-teams {
  min-width: 70%;
  width: 100%;
}

.dt-bracket-match>span {
  color: gray;
}

.dt-bracket-team {
  display: flex;
  justify-content: space-between;
}

.dt-bracket-team-name {
  text-shadow: 1px 1px 1px black;
}

.dt-bracket-team-name>span {
  padding: 10px;
  white-space: nowrap;
}

.dt-bracket-team-score {
  background-color: #151b27;
  min-width: 12px;
  padding: 10px;
}

.dt-bracket-winner {
  color: #e7ad26;
  font-weight: bold;
}

.dt-bracket-team-color {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 5px;
}

.dt-winner-input {
  border: none;
  outline: none;
  padding: 5px;
  background-color: #393d4a;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.dt-winner-input.dt-active {
  background-color: #fc9402;
}

.dt-winner-input-wrapper {
  margin: 5px;
}

.dt-winner-input-box {
  margin: 10px;
}

.dt-bracket {
  display: flex;
  flex-direction: row;
}

.dt-bracket-bracket-row {
  display: flex;
  flex-direction: column;
}

.dt-bracket-bracket {
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 3px;
  margin: 20px;
}

.dt-bracket-round {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
}

/* IDS */

#dt-popup-host {
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
}

/* MEDIA */

@media all and (max-width: 600px) {
  .dt-navbar {
    overflow: scroll;
  }

  .dt-main {
    overflow-x: scroll;
  }

  .dt-popup-wrapper .dt-popup {
    width: 90%;
  }
}