body {
  color: white;
  background-image: url("/assets/bg.jpg");
  margin: 0;
  font-size: larger;
}

.team {
  display: flex;
  /* margin: 10px; */
  display: flex;
  justify-content: space-between;
}

.winner {
  background-color: green;
}

.team > * {
  padding: 10px;
}

.team-label {
  
}

.team-score {
  background-color: #151b27;
}

.bracket-matches{
  display: flex;
  flex-direction: row;
  align-items: center;
}
  
.match {
  background-color: #28303f;
  margin: 10px;
  display: flex;
}
  
.bracket-round {
  margin: 10px;
}

.navbar {
  width: 100vh;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 15px;
}

.navbar li {
  display: inline;
  padding: 3px;
  margin: 5px;
}

.navbar li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bolder;
  text-transform: uppercase;
  transition: .5s;
}

.navbar li a:hover {
  color: yellow;
}

.table-center {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  margin-left: auto;
  margin-right: auto;
}

.link-inline {
  text-decoration: none;
  color:greenyellow;
}

.popup-wrapper {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 80;
  display: flex;
  justify-items: center;
  align-items: center;
}
  
.popup {
  min-height: 40vh;
  left: 0;
  right: 0;
  position: absolute;
  background-color: #1f1430;
  border-radius: 5px;
  z-index: 100;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.popup-close {
  float: right;
}

.popup-content {
  height: 100%;
  width: 100%;
}

.popup-teams-list {
  display: flex;
}

.popup-team {
  background-color: gray;
}

.flex-col {
  display: flex;
}

.bracket-flex-center {
  display: flex;
  align-items: center;
}

.tourn-bracket {
  padding: 3px;
  margin: 20px;
}

.tourn-bracket > span {
  font-size: large;
}

.match-teams {
  min-width: 170px;
  width: 100%;
}

.match-action-buttons {
  display: flex;
  flex-direction: column;
}

.match-action-buttons > button {
  margin: 2px;
  flex: 1;
  background-color: transparent;
  border: none;
}

.match-action-buttons > button:hover {
  cursor: pointer;
}

.match-action-buttons > button:disabled {
  cursor: default;
}

.tr-link-table {
  border-spacing: 0;
}

table {
  border-collapse: collapse;
}

.tr-link {
  cursor: pointer;
  font-size: larger;
  padding: 5px;
  border-top: 1px solid gray;
}

th, td {
  padding: 5px;
}

.tr-link:hover {
  background-color: #1f1430;
}

.main {
  padding: 16px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
