.dt-icon {
    filter: invert(100%);
    vertical-align: -0.125em;
    display: inline-block;
}

.dt-icon>* {
    height: 100%;
    width: 100%;
}

.dt-icon-size-xs {
    width: 8px;
    height: 8px;
}

.dt-icon-size-sm {
    width: 12px;
    height: 12px;
}

.dt-icon-size-nl {
    width: 16px;
    height: 16px;
}

.dt-icon-size-lg {
    width: 20px;
    height: 20px;
}

.dt-icon-size-xl {
    width: 24px;
    height: 24px;
}

.dt-icon-size-xl2 {
    width: 32px;
    height: 32px;
}